---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
import Project from "../components/Project.astro";
import Apoteo from '/Apoteo.png'
import Profile from '/profile.jpg'
import Github from '/github.svg'
import LinkedIn from '/linkedin.svg'
import Email from '/email.svg'
import Html from '/html.svg'
import Css from '/css.svg'
import React from '/react.svg'
import Js from '/js.svg'
import Dotnet from '/dotnet.svg'
import Csharp from '/csharp.svg'
import Firebase from '/firebase.svg'
import SectionHeader from "../components/SectionHeader.astro";
import SkillIcon from "../components/SkillIcon.astro";
---


<Layout title="Home">
	<main class="bg-offwhite px-5 pt-5 pb-5 sm:pt-16 sm:px-16 md:px-30 lg:px-40 sm:ml-[110px]">
			<div class="flex justify-between items-center">
				<div class="flex">
					<a href="/KarlGildenhuysCV.pdf" download><button class="bg-primary text-xl text-white rounded-[100px] px-5 py-2">Resume</button></a>
					<div class="p-2"></div>
					<div class="display flex">
						<a href="https://www.linkedin.com/in/karl-gildenhuys-b0286720a/" class="flex items-center"><img class="w-[25px] fill-primary" src={LinkedIn} alt=""></a>
						<div class="p-5"></div>
						<a href="https://github.com/KarlGilden" class="flex items-center"><img class="w-[25px] fill-primary" src={Github} alt=""></a>
						<div class="p-5"></div>
						<a href="mailto:karl.gildenhuys@gmail.com" class="flex items-center"><img class="w-[25px] fill-primary" src={Email} alt=""></a>
					</div>
					<div class="p-2"></div>
				</div>
				<h1 class="font-title text-2xl hidden sm:block"> <span class="text-highlight">Karl</span>Gildenhuys</h1>
		</div>
	</main>
	<Section>
		<SectionHeader title="My work"/>
		<div class="p-5"></div>
		<div class="grid grid-cols-1 md:grid-cols-2 gap-5">
			<Project 
				img={'bg-[url(/Apoteo.png)]'}
				id={"1"}
			/>
			<Project 
				img={'bg-[url(/BM.png)]'}
				id={"2"}
			/>
		</div>

	</Section>

	<Section>
		<SectionHeader title="A bit about me"/>
		<div class="p-5"></div>
		<p>Hi! My name is Karl and I am a recent Computer Science graduate from the University of Auckland. 
			I am passionate about using tech to solve business problems and building cool things on the web. 
			Checkout my some of my projects above and reach out if you're keen to chat.</p>
	</Section>	

	<Section>
		<SectionHeader title="My toolkit"/>
		<div class="p-5"></div>
		<div class="flex flex-wrap w-full justify-center">
			<SkillIcon src={Html} name="HTML"/>
			<SkillIcon src={Css} name="CSS"/>
			<SkillIcon src={Js} name="JS"/>
			<SkillIcon src={Csharp} name="C#"/>
			<SkillIcon src={React} name="React"/>
			<SkillIcon src={Dotnet} name=".NET"/>
			<SkillIcon src={Firebase} name="Firebase"/>
		</div>
	</Section>
</Layout>

