---
import Layout from "../../layouts/Layout.astro";
import Section from "../../layouts/Section.astro";
import { Icon } from 'astro-icon'
import projects from '../../data/projects.json'; 

export async function getStaticPaths(){
    let paramsArray = [];
    projects.forEach((project) => {
        paramsArray.push({
            params: {id: project.id},
            props: {
                name: project.name,
                subtitle: project.subtitle,
                desc: project.desc,
                problem: project.problem,
                solution: project.solution,
                github: project.github,
                live: project.live,
                img: project.img
            }
        })
    })

    return paramsArray;
}   
const { id } = Astro.params;
const { name, desc, github, live, subtitle, problem, solution, img } = Astro.props;
---

<Layout title="Home">
    <Section id={name}>
        <div class="w-full">
            <a href="/"><Icon class="w-[50px]" name="bi:arrow-left"/></a>
        </div>
        <div class="p-2"></div>
        <h1 class="text-6xl">{name}</h1>
        <div class="p-1"></div>
        <h2 class="italic text-xl">{subtitle}</h2>

        <div class="p-3"></div>
        <p class="text-xl">{desc}</p>

        <div class="p-3"></div>
        <h6 class="text-xl"><span class="font-bold">Problem: </span>{problem}</h6>
        <div class="p-1"></div>
        <h6 class="text-xl"><span class="font-bold">Solution: </span>{solution}</h6>
        <div class="p-3"></div>

        <p>Learn more by visiting my github or try the live website below:</p>
        <div class="p-1"></div>
        <div class="flex w-full">
            <a href={live} class="flex justify-center items-center px-2 text-xl w-[85px]  border-highlight border-2 bg-highlight rounded-sm text-white">Live</a>
            <div class="p-2"></div>
            <a href={github} class="flex justify-center items-center px-2 text-xl w-[85px] border-highlight border-2 rounded-sm">Github</a>
        </div>

    </Section>
</Layout>
