---
import '../assets/global.css'
import Github from '/github.svg'
import LinkedIn from '/linkedin.svg'
import Home from '/home.svg'
import Monitor from '/monitor.svg'
import User from '/user.svg'
import Briefcase from '/briefcase.svg'
import Email from '/email.svg'
import Contact from '/mail.svg'
import { Icon } from 'astro-icon'
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body class="bg-offwhite">
		<nav class="flex fixed py-16 top-0 left-[-1000px] sm:left-0 w-[110px] h-screen flex-col justify-between items-center bg-primary transition-all hover:w-[200px] group">
			<div class="h-[100px]">
				<h1 class="text-5xl text-white">KG</h1>
			</div>
			<div class="w-full flex flex-col items-center">
				<div class="flex justify-center items-center w-full text-white cursor-pointer hover:text-highlight">
					<img class="w-[15px]" src={Home} alt="">
					<a href="/"><p class="hidden font-title ml-5 w-[50px] group-hover:block">Home</p></a>
				</div>
				<div class="p-5"></div>
				<div class="flex justify-center w-full text-white cursor-pointer hover:text-highlight">
					<img class="w-[15px]" src={Monitor} alt="">
					<a href="/#work"><p class="hidden font-title ml-5 w-[50px] group-hover:block">Work</p></a>
				</div>
				<div class="p-5"></div>
				<div class="flex justify-center w-full text-white cursor-pointer hover:text-highlight">
					<img class="w-[15px]" src={Briefcase} alt="">
					<a href="/#skills"><p class="hidden ml-5 font-title w-[50px] group-hover:block ">Toolkit</p></a>
				</div>
				<div class="p-5"></div>
				<div class="flex justify-center w-full text-white cursor-pointer hover:text-highlight">
					<img class="w-[15px]" src={User} alt="">
					<a href="/#about"><p class="hidden font-title ml-5 w-[50px] group-hover:block">About</p></a>
				</div>
				<div class="p-5"></div>
				<div class="flex justify-center w-full text-white cursor-pointer hover:text-highlight">
					<img class="w-[15px]" src={Contact} alt="">
					<a href="/#contact"><p class="hidden font-title ml-5 w-[50px] group-hover:block">Contact</p></a>
				</div>
			</div>
			<div class="h-[100px]">
				<h1 class="text-5xl"></h1>
			</div>
		</nav>

		<div class="bg-offwhite sm:hidden w-full h-content flex justify-between items-center pt-5 px-5" >
			<h1 class="font-title text-2xl"><span class="text-highlight">Karl</span>Gildenhuys</h1>
			<Icon onclick="openMenu()" class="w-[50px]" name="eva:menu-outline"/>
		</div>

		<nav id="nav" class="flex flex-col fixed py-16 top-0 left-[-2000px] h-screen w-full justify-between items-center bg-primary transition-all group">
			<Icon onclick="openMenu()" class="w-[50px] absolute top-[25px] right-[25px]" name="ep:close-bold"/>
			<div class="h-[100px]">
				<h1 class="text-5xl text-white">KG</h1>
			</div>
			<div class="w-full flex flex-col items-center">
				<div class="flex justify-center items-center w-full text-white cursor-pointer hover:text-highlight">
					<img class="w-[15px]" src={Home} alt="">
					<a href="/" onclick="openMenu()"><p class="font-title ml-5 w-[50px]">Home</p></a>
				</div>
				<div class="p-5"></div>
				<div class="flex justify-center w-full text-white cursor-pointer hover:text-highlight">
					<img class="w-[15px]" src={Monitor} alt="">
					<a href="/#work" onclick="openMenu()"><p class="font-title ml-5 w-[50px]">Work</p></a>
				</div>
				<div class="p-5"></div>
				<div class="flex justify-center w-full text-white cursor-pointer hover:text-highlight">
					<img class="w-[15px]" src={Briefcase} alt="">
					<a href="/#skills" onclick="openMenu()"><p class="font-title ml-5 w-[50px]">Toolkit</p></a>
				</div>
				<div class="p-5"></div>
				<div class="flex justify-center w-full text-white cursor-pointer hover:text-highlight">
					<img class="w-[15px]" src={User} alt="">
					<a href="/#about" onclick="openMenu()"><p class="font-title ml-5 w-[50px]">About</p></a>
				</div>
				<div class="p-5"></div>
				<div class="flex justify-center w-full text-white cursor-pointer hover:text-highlight">
					<img class="w-[15px]" src={Contact} alt="">
					<a href="/#contact" onclick="openMenu()"><p class="font-title ml-5 w-[50px]">Contact</p></a>
				</div>

			</div>
			<div class="h-[100px]">
				<h1 class="text-5xl"></h1>
			</div>
		</nav>
		<slot />
		<footer class="sm:ml-[110px] p-5 bg-white flex justify-center items-center">
			<p class="text-highlight">Developed by Karl Gildenhuys 2022</p>
		</footer>
	</body>
</html>
<style>
	html {
		font-family: system-ui, sans-serif;
	}

	body {
		margin: 0;
	}

	:global(h1) {
		font-size: var(--font-size-xl);
	}

	:global(h2) {
		font-size: var(--font-size-lg);
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>

<script is:inline>
	const openMenu = () => {
		if(document.getElementById("nav").classList.contains("left-[-2000px]")){
			document.getElementById("nav").classList.remove("left-[-2000px]")
			document.getElementById("nav").classList.add("left-0")
		}else{
			document.getElementById("nav").classList.add("left-[-2000px]")
			document.getElementById("nav").classList.remove("left-0")
		}

	}
</script>